* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.button {
	background: #fff;
	display: inline-block;
	text-decoration: none;
	border-radius: 0.4em;
	padding: 1em 2em;
	color: #000;
	font-weight: 500;
}

.button:hover {
	color: #F73535;
}

.mainHeader {
	position: fixed;
	background: #fff;
	width: 100%;
	top: 0;
	padding: 1em 0;
}

.mainHeader .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.logo {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1em;
}

.logo a {
	color: #F73535;
	text-decoration: none;
}

.mainNav a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	font-weight: 500;
}

.mainNav a + a {
	margin-left: 1em;
}

.intro {
	min-height: 40vh;
	padding-top: 4em;
	padding-bottom: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	background: #F73535;
}

.intro__title {
	color: #fff;
	font-size: 3em;
}

.intro__location {
	color: rgba(255,255,255,0.8);
	font-weight: 400;
	text-decoration: underline;
}

.intro__location .fa {
	padding-right: 0.2em;
}

.buttons {
	margin: 1em 0;
}

.cards {
	background: #F1F4F7;
}

.cards .container {
	padding: 1em 0;
}

.cards__intro {
	text-align: center;
	padding: 2em 0;
	background: #fff;
}

.cards__intro p {
	margin: 0.5em 0;
}

.cards__intro a {
	color: #F73535 ;
	font-weight: 500;
}

.card {
	background: #fff;
	-webkit-box-shadow: 0 1em 2em rgba(0,0,0,0.1);
	        box-shadow: 0 1em 2em rgba(0,0,0,0.1);
	padding: 1em;
	border-radius: 0.5em;
	border: 1px solid rgba(0,0,0,0.05);
	display: inline-block;
	width: 32%;
	margin: 0.3em;
	vertical-align: top;
	min-height: 440px !important;
}

.card__title {
	color: #F73535;
	font-family: 'Roboto Slab', sans-serif;
}

.card__desc {
	padding: 0.5em 0;
	min-height: 5em;
}

.card__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 1em 0;
}

.card__type,
.card__location {
	width: 50%;
}

.card__type h3,
.card__location h3{
	padding: 0.5em 0;
	text-decoration: underline;
	font-size: 1em;.button,.mainNav a{text-decoration:none;font-weight:500}
	margin: 0 !important;
}

.card__info .fa {
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}

.card__button,
.modal__button {
	background: #F73535;
	color: #fff;
	text-decoration: none;
	padding: 1em;
	display: inline-block;
	border-radius: 0.5em;
	-webkit-box-shadow: 0 0.2em 0em #C82929;
	        box-shadow: 0 0.2em 0em #C82929;
	width: 100%;
	text-align: center;
}

.card__button:hover {
	background: #F54C4C;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.modal.show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.modal__close {
	background: #fff;
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	position: absolute;
	top: 2em;
	right: 4em;
}

.modal__container {
	padding: 3em;
	background: #fff;
	width: 37em;
	border-radius: 0.4em;
	text-align: center;
	position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal hr {
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.modal p {
	color: rgba(0,0,0,0.8);
	font-size: 1.1em;
	line-height: 1.4em;
	margin: 0.5em 0;
}

.modal p a {
	color: #F54C4C;
}

.modal__email {
	padding: 1em 0;
	display: inline-block;
	font-size: 1.2em ;
	color: #F54C4C ;
}

.filters {
	background: #191827;
	border-top: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
	        box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
	text-align: center;
	color: #fff;
	outline: 0;
}

.filter {
	display: inline-block;
}

.filters select {
	font-size: 1.2em;
}

.map-container {
	width: 100%;
}

.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative;
}

.map-container iframe.clicked{
	pointer-events: auto;
}

.hide-lang {
	display: none !important;
}

input[type="radio"] {
	margin-right: 0.25em;
}

.language__controls label {
	color: #FFF;
}

.language__controls label + label {
	margin-left: 1em;
}

/*	LANGUAGE TOGGLE SWITCH
	Source: https://codepen.io/vram1980/pen/LGwJE?q=toggle%20checkboxes&limit=all&order=popularity&depth=everything&show_forks=false
*/
.switch {
	position: relative;
	display: inline-block;
	margin: 0 5px;
  }
  
.switch > span {
	position: absolute;
	top: 0.9em;
	pointer-events: none;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
	width: 50%;
	text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
color: #fff;
}

input.check-toggle-round-flat:checked ~ .on {
color: #000;
}

.switch > span.on {
left: 0;
padding-left: 2px;
color: #fff;
}

.switch > span.off {
right: 0;
padding-right: 4px;
color: #000;
}

.check-toggle {
position: absolute;
margin-left: -9999px;
visibility: hidden;
}
.check-toggle + label {
display: block;
position: relative;
cursor: pointer;
outline: none;
user-select: none;
}

input.check-toggle-round-flat + label {
padding: 2px;
width: 9.15em;
height: 34px;
background-color: #fff;
border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
display: block;
position: absolute;
content: "";
}

input.check-toggle-round-flat + label:before {
top: 2px;
left: 2px;
bottom: 2px;
right: 2px;
background-color: #fff;
border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
top: 4px;
left: 4px;
bottom: 4px;
width: 4.4em;
background-color: #F73535;
border-radius: 52px;
transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
margin-left: 4.25em;
}

@media screen and (max-width: 700px) {
	.card {
		width: 100%;
	}

	.mainHeader {
		position: static;
	}

	.mainNav a {
		font-size: 0.9em;
	}

	.hide-mobile.hide-mobile {
		display: none;
	}

	.intro {
		height: auto;
		padding-top: 2em;
	}

	.intro__title {
		font-size: 2em;
	}

	.button {
		width: 90%;
		margin: 0.5em 0;
	}

	.modal__container {
		width: 85%;
		padding: 1em;
	}

	.modal p {
		font-size: 1em;
	}

	.filter {
		width: 100%;
	}

	.filter + .filter {
		margin-top: 0.5em;
	}
}

.filter {
  	margin-right: 1em;
}

.badge-verified {
	background: #5cceff;
	color: #fff;
	font-size: 14px;
	padding: 6px;
	display: inline-block;
	border-radius: 100em;
}

#no_results {
    display: none;
    font-size: 20px;
    text-align: center;
    padding: 0 0 2em;
    margin: 1em;
}

/*mobile menu quick fix*/
.navbar-default {
	background-color: #fff!important;
	font-family: 'Roboto Slab',sans-serif;
	font-size: 1em;
}

.navbar-brand {
	color: #F73535!important;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #000!important;
    font-weight: 500!important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}