* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.button {
	background: #fff;
	display: inline-block;
	text-decoration: none;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
	padding: 1em 1.5em;
	color: #000;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all ease-in 0.2s;
}

.button.send_info:hover {
	color: #F73535;
	text-decoration: none;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.mainHeader {
	position: fixed;
	background: #fff;
	width: 100%;
	top: 0;
	padding: 1em 0;
}

.mainHeader .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
}

.logo {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1em;
}

.logo a {
	color: #F73535;
	text-decoration: none;
}

.mainNav a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	font-weight: 500;
}

.mainNav a + a {
	margin-left: 1em;
}

.intro {
	min-height: 40vh;
	padding: 10em 20px 7em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	text-align: center;
	background: #F73535;
}

.intro__title {
	color: #fff;
	font-size: 4em;
	margin: 0;
}

.intro__title span:first-child {
	text-transform: uppercase;
	font-size: .5em;
	font-weight: bold;
	display: inline-block;
}

.intro__title span:last-child {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
}

.intro__location {
	color: rgba(255,255,255,0.8);
	font-weight: 400;
	font-size: 1em;
	text-decoration: underline;
}

.intro__location .fa {
	padding-right: 0.2em;
}

.buttons {
	margin-top: 2em;
}

.buttons .button:first-child {
	margin-right: 10px;
}

.cards {
	background: #F1F4F7;
}

.cards .container {
	padding: 1em 0;
}

#cards_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 2em 0;
}

#cards_container::before, #cards_container::after {
	content: none;
}

.cards__intro {
	text-align: center;
	padding: 3em 0;
	background: #fff;
}

.cards__intro h3 {
	margin: 0;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px
}

.cards__intro p {
	margin: 0;
}

.cards__intro a {
	color: #F73535 ;
	font-weight: 500;
}

.card {
	background: #fff;
	-webkit-box-shadow: 0 1.2em 1.2em -.5em rgba(0, 0, 0, .4);
	        box-shadow: 0 1.2em 1.2em -.5em rgba(0, 0, 0, .4);
	padding: 2em 1.5em 0;
	-webkit-border-radius: .3em;
	        border-radius: .3em;
	border: 1px solid rgba(0,0,0,0.05);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 30%;
	margin: .3em;
	margin-bottom: 40px;
	vertical-align: top;
	transition: transform .3s ease, box-shadow .3s ease;
}

.card:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 1.5em 1.5em -1em rgba(0, 0, 0, .4);
					box-shadow: 0 1.5em 1.5em -1em rgba(0, 0, 0, .4);
}

.card__title {
	color: #F73535;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 20px;
}

.card__desc {
	padding: .5em 0;
	font-size: .9em;
	line-height: 1.2;
	margin-bottom: 20px;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.card__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 1em 0;
}

.card__type,
.card__location {
	width: 50%;
}

.card__type h4,
.card__location h4 {
	font-size: .8em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2px;
}

.card__type h3,
.card__location h3{
	margin: 12px 0;
	line-height: 1.2;
	font-size: .9em;
	margin: 10px 0;
}

.button, .mainNav a {
	text-decoration: none;
	font-weight: 500;
}

.card__info .fa {
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}

.card__button,
.modal__button {
	background: #F73535;
	color: #fff;
	text-decoration: none;
	padding: 1em;
	display: inline-block;
	-webkit-border-radius: 0.5em;
	        border-radius: 0.5em;
	-webkit-box-shadow: 0 0.2em 0em #C82929;
	        box-shadow: 0 0.2em 0em #C82929;
	width: 100%;
	text-align: center;
}

.card__button {
	-webkit-box-shadow: none;
	        box-shadow: none;
	width: auto;
	padding: 1.3em 1em;
	margin: 0 -1.9em;
	-webkit-border-radius: 0 0 0.3em 0.3em;
	        border-radius: 0 0 0.3em 0.3em;
	font-weight: bold;
	font-size: .8em;
	text-transform: uppercase;
	margin-top: auto;
	transition: all ease 0.2s;
}

.card__button:hover {
	color: white;
	text-decoration: none;
	background: #e22f2f;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
}

.modal.show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.modal__close {
	background: #fff;
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	position: absolute;
	top: 2em;
	right: 4em;
}

.modal__container {
	padding: 3em;
	background: #fff;
	width: 37em;
	-webkit-border-radius: 0.4em;
	        border-radius: 0.4em;
	text-align: center;
	position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal hr {
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.modal p {
	color: rgba(0,0,0,0.8);
	font-size: 1.1em;
	line-height: 1.4em;
	margin: 0.5em 0;
}

.modal p a {
	color: #F54C4C;
}

.modal__email {
	padding: 1em 0;
	display: inline-block;
	font-size: 1.2em ;
	color: #F54C4C ;
}

.filters {
	background: #191827;
	border-top: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
	        box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
	text-align: center;
	color: #fff;
	outline: 0;
}

.filter {
	display: inline-block;
}

.filter label {
	margin-right: 15px;
	font-size: 1.2em;
	text-transform: uppercase;
}

.filter .chosen-container-single .chosen-default{background: #fff;}
.filter .chosen-container-single .chosen-single span{font-size: 14px;color: #000}

.filters select {
	font-size: 1.4em;
	background: #fff;
	color: #000;
}

.map-container {
	width: 100%;
}

.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative;
}

.map-container iframe.clicked{
	pointer-events: auto;
}

.hide-lang {
	display: none !important;
}

input[type="radio"] {
	margin-right: 0.25em;
}

.language__controls label {
	color: #FFF;
}

.language__controls label + label {
	margin-left: 1em;
}

/*	LANGUAGE TOGGLE SWITCH
	Source: https://codepen.io/vram1980/pen/LGwJE?q=toggle%20checkboxes&limit=all&order=popularity&depth=everything&show_forks=false
*/
.switch {
	position: absolute;
	top: 6em;
	right: 5%;
}
  
.switch > span {
	position: absolute;
	top: 0.9em;
	pointer-events: none;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
	width: 50%;
	text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
	color: #fff;
}

input.check-toggle-round-flat:checked ~ .on {
	color: #000;
}

.switch > span.on {
	left: 0;
	padding-left: 5px;
	color: #fff;
}

.switch > span.off {
	right: 0;
	padding-right: 4px;
	color: #000;
}

.check-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.check-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

input.check-toggle-round-flat + label {
	padding: 2px;
	width: 4.5em;
	height: 34px;
	background-color: #fff;
	-webkit-border-radius: 60px;
	        border-radius: 60px;
}

input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}

input.check-toggle-round-flat + label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #fff;
	-webkit-border-radius: 60px;
	        border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 45%;
	background-color: #F73535;
	-webkit-border-radius: 52px;
	        border-radius: 52px;
	-webkit-transition: margin 0.2s;
	-o-transition: margin 0.2s;
	transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
	margin-left: 40%;
}

#tweets-section{padding-top: 82px;}

@media screen and (max-width: 1024px) {
	.card {
		width: 45%;
	}
}

@media screen and (max-width: 700px) {
	.card {
		width: 100%;
	}

	.mainHeader {
		position: static;
	}

	.mainNav a {
		font-size: 0.9em;
	}

	.hide-mobile.hide-mobile {
		display: none;
	}

	.intro {
		height: auto;
		padding: 10em 20px 7em;
	}

	.intro__title {
		font-size: 2em;
	}

	.button {
		width: 90%;
		margin: 0.5em 0;
	}
	.button:hover {
		font-size: initial;
	}

	.modal__container {
		width: 85%;
		padding: 1em;
	}

	.modal p {
		font-size: 1em;
	}

	.filter {
		width: 100%;
	}

	.filter + .filter {
		margin-top: 0.5em;
	}
}

.filter {
  	margin-right: 1em;
}

.badge-verified {
	background: #5cceff;
	color: #fff;
	font-size: 14px;
	padding: 6px;
	display: inline-block;
	-webkit-border-radius: 100em;
	        border-radius: 100em;
}

#no_results {
  display: none;
  font-size: 20px;
  text-align: center;
  padding: 0 0 2em;
  margin: 1em;
}

/*mobile menu quick fix*/
.navbar-default {
	background-color: #fff!important;
	font-family: 'Roboto Slab',sans-serif;
	font-size: 1em;
	padding: 10px 0;
}

.navbar-toggle {
	margin-right: 0;
}

.navbar-brand {
	color: #F73535!important;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #000!important;
  font-weight: 500!important;
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
	text-transform: uppercase;
	padding-right: 0;
	padding-left: 20px;
}

.chosen-search-input {
    color: #000;
}

.footer {
	background: #191827;
	border-top: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
	        box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
	text-align: center;
	color: #fff;
	outline: 0;
	min-height: 10vh;
}
.footer-content {
	padding: 10px;
}
.footer-content a {
	transition: all ease-in 0.1s;
	color: #fff;
}