* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.button {
	background: #fff;
	display: inline-block;
	text-decoration: none;
	border-radius: 0.4em;
	padding: 1em 2em;
	color: #000;
	font-weight: 500;
}

.button:hover {
	color: #F73535;
}

.mainHeader {
	position: fixed;
	background: #fff;
	width: 100%;
	top: 0;
	padding: 1em 0;
}

.mainHeader .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.logo {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1em;
	color: #F73535;
}

.mainNav a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	font-weight: 500;
}

.mainNav a + a {
	margin-left: 1em;
}

.intro {
	height: 40vh;
	padding-top: 4em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	background: #F73535;
}

.intro__title {
	color: #fff;
	font-size: 3em;
}

.intro__location {
	color: rgba(255,255,255,0.8);
	font-weight: 400;
	text-decoration: underline;
}

.intro__location .fa {
	padding-right: 0.2em;
}

.buttons {
	margin: 1em 0;
}

.cards {
	background: #F1F4F7;
}

.cards .container {
	padding: 1em 0;
}

.cards__intro {
	text-align: center;
	padding: 2em 0;
	background: #fff;
}

.cards__intro p {
	margin: 0.5em 0;
}

.cards__intro a {
	color: #F73535 ;
	font-weight: 500;
}

.card {
	background: #fff;
	-webkit-box-shadow: 0 1em 2em rgba(0,0,0,0.1);
	        box-shadow: 0 1em 2em rgba(0,0,0,0.1);
	padding: 1em;
	border-radius: 0.5em;
	border: 1px solid rgba(0,0,0,0.05);
	display: inline-block;
	width: 32%;
	margin: 0.3em;
	vertical-align: top;
}

.card__title {
	color: #F73535;
	font-family: 'Roboto Slab', sans-serif;
}

.card__desc {
	padding: 0.5em 0;
	min-height: 5em;
}

.card__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 1em 0;
}

.card__type,
.card__location {
	width: 50%;
}

.card__type h3,
.card__location h3{
	padding: 0.5em 0;
	text-decoration: underline;
	font-size: 1em;
}

.card__info .fa {
	font-size: 14px;
	padding-right: 1em;
	color: rgba(0,0,0,0.5);
}

.card__button,
.modal__button {
	background: #F73535;
	color: #fff;
	text-decoration: none;
	padding: 1em;
	display: inline-block;
	border-radius: 0.5em;
	-webkit-box-shadow: 0 0.2em 0em #C82929;
	        box-shadow: 0 0.2em 0em #C82929;
	width: 100%;
	text-align: center;
}

.card__button:hover {
	background: #F54C4C;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.modal.show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.modal__close {
	background: #fff;
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	position: absolute;
	top: 2em;
	right: 4em;
}

.modal__container {
	padding: 3em;
	background: #fff;
	width: 37em;
	border-radius: 0.4em;
	text-align: center;
}

.modal hr {
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.modal p {
	color: rgba(0,0,0,0.8);
	font-size: 1.1em;
	line-height: 1.4em;
	margin: 0.5em 0;
}

.modal p a {
	color: #F54C4C;
}

.modal__email {
	padding: 1em 0;
	display: inline-block;
	font-size: 1.2em ;
	color: #F54C4C ;
}

.filters {
	background: #191827;
	border-top: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
	text-align: center;
	color: #fff;
	outline: 0;
}

.filter {
	display: inline-block;
}

.filters select {
	font-size: 1.2em;
}

@media screen and (max-width: 700px) {
	.card {
		width: 100%;
	}

	.mainHeader {
		position: static;
	}

	.mainNav a {
		font-size: 0.9em;
	}

	.hide-mobile.hide-mobile {
		display: none;
	}

	.intro {
		height: auto;
	}

	.intro__title {
		font-size: 2em;
	}

	.button {
		width: 90%;
		margin: 0.5em 0;
	}

	.modal__container {
		width: 85%;
		padding: 1em;
	}

	.modal p {
		font-size: 1em;
	}

	.filter {
		width: 100%;
	}

	.filter + .filter {
		margin-top: 0.5em;
	}
}

.filter {
  margin-right: 1em;
}
